<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title>Online Cinema Booking System</title>
        <style>
            html,body{
                height:100%;
                width:100%;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #1A4C61;" >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contactus.html">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="privacypolicy.html">Privacy Policy</a>
                </li>
                <li>
                    <a class="nav-link" href="#"><pre>                                                                                                                </pre></a>
                </li>
            </ul>
        </nav>

        <div class="text-center">
            <div class="jumbotron">
	            <h1>{{viewTitle}}</h1>
            </div>
        </div>

        <div class="text-center">
            {{{body}}}
        </div>
    </body>
</html>