
        <div><h2> Admin Dashboard</h2></div>

         <div class="form-group">
                        <a href="/form" class="btn btn-info">
                           <i class="fa fa-database" ></i>Add a new Show Time
                        </a>
                        
                        <a href="/shows" class="btn btn-danger">
                            <i class="fa fa-list-alt"></i>View All Show Times
                        </a>
        </div>

         <div class="form-group">
                        <a href="/ticketform" class="btn btn-info">
                           <i class="fa fa-database" ></i>Add a new Booking
                        </a>
                        
                        <a href="/tickets" class="btn btn-danger">
                            <i class="fa fa-list-alt"></i>View All Bookings
                        </a>
        </div>